*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#F5F1E8;
    color:#2B2B2B;
    line-height:1.6;
}

form{
    background-color: cornflowerblue;
    margin: 40px auto;
    padding: 20px;
    max-width: 500x;
    height:auto;
    border: 2px solid black;
    text-transform: uppercase;

}
form input{
    border: 2px solid black;
    min-width:100%;
    margin: auto;
    height: 50px;
    margin-bottom: 15px;

}

form textarea{
    border: 2px solid black;
    width: 100%;
    min-height: 40%;
    margin: auto;
    margin-bottom: 15px;

}

input:focus {
    border: 2px dashed #b67171

}
textarea:focus{
    border: 2px dashed #377658
}