*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#F5F1E8;
    color:#2B2B2B;
    line-height:1.6;
    background:linear-gradient(rgb(0,0,0,0.5)),rgb((0,0,0,0.5)), url(img/fondo,1.avif);
    background-size:cover ;
    background-position: center;

}

.plaza{
    background-color:#787474;
    /*paddinh para separar y darle una mejor posición*/
    padding: 15px;
    border-radius: 10px;
    height:auto;
    /*Es el margen que le damos a nuestra estrutura*/
    margin: 50px auto ;
    max-width: 500px;
    box-shadow: 0px 0px 10px 7px #c7baba;

}
.plaza img{
    height: auto;
    width: 100%;
    margin: 3px;
    border-radius: 10px;
    /*box para darle esas sombras*/
    box-shadow: 0px 0px 7px 5px #000000;
}

form{
    background-color: cornflowerblue;
    margin: 40px auto;
    padding: 20px;
    max-width: 500px;
    height:auto;
    border: 2px solid black;
    text-transform: uppercase;


}
form input{
    border: 2px solid black;
    min-width:100%;
    margin: auto;
    height: 50px;
    margin-bottom: 15px;
    border-color: #377658;

}

form textarea{
    border: 2px solid black;
    width: 100%;
    min-height: 40%;
    margin: auto;
    margin-bottom: 15px;

}

input:focus {
    border: 2px dashed #b67171

}
textarea:focus{
    border: 2px dashed #377658
}